

<style>
body {
  background-image: url('blackjack1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<h1 style="color:red; text-align:center">Welcome To BlackJack Game</h1>
<br />
<br />
<body>
<div>
<a href="/Start"><button class="btn btn-primary"style="margin:auto;display:block" >PlayVirtualGame</button></a>

<br />

<a href="/Start?Id=1" ><button class="btn btn-primary"style="margin:auto;display:block"> PLayNormalGame</button></a>
</body>